In [1]:
# Import modules
import pandas as pd

In [2]:
# Read colors data
colors = pd.read_csv('datasets/colors.csv')
# print the first few rows
colors.head()

   id            name     rgb is_trans
0  -1       [Unknown]  0033B2        f
1   0           Black  05131D        f
2   1            Blue  0055BF        f
3   2           Green  237841        f
4   3  Dark Turquoise  008F9B        f

In [3]:
type(colors)

pandas.core.frame.DataFrame

In [4]:
colors.shape

(178, 4)

In [5]:
colors.columns

Index(['id', 'name', 'rgb', 'is_trans'], dtype='object')

In [6]:
type(colors.columns)

pandas.core.indexes.base.Index

In [7]:
colors.index

RangeIndex(start=0, stop=178, step=1)

In [8]:
colors.iloc[:5, :]

   id            name     rgb is_trans
0  -1       [Unknown]  0033B2        f
1   0           Black  05131D        f
2   1            Blue  0055BF        f
3   2           Green  237841        f
4   3  Dark Turquoise  008F9B        f

In [9]:
colors.iloc[-5:, :]

       id                  name     rgb is_trans
173  1047      Modulex Foil Red  8B0000        f
174  1048   Modulex Foil Yellow  FED557        f
175  1049   Modulex Foil Orange  F7AD63        f
176  1050                 Coral  FF698F        f
177  9999  [No Color/Any Color]  05131D        f

In [10]:
colors.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178 entries, 0 to 177
Data columns (total 4 columns):
id          178 non-null int64
name        178 non-null object
rgb         178 non-null object
is_trans    178 non-null object
dtypes: int64(1), object(3)
memory usage: 5.6+ KB